<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/" method="POST">
        <input type="text" name="searchBar">    
        <button type="submit">Submit</button>    
    </form>

    <form action="/" method="get">
        <input type="radio" name="animal" value="Snakes" checked> Snakes
        <input type="radio" name="animal" value="Lizards"> Lizards
        <input type="radio" name="animal" value="Frogs"> Frogs
    </form>
    
    
    <!-- <div class="flex justify-center space-x-[2vw] mt-12">
        <form method="POST" action="/blackjack">
            <button name="action" value="hit" class="text-[2vw] px-6 py-3 bg-[#588157] text-white rounded-lg hover:bg-[#3a5a40] transition duration-100">Hit</button>
        </form>
        <form method="POST" action="/blackjack">
            <button name="action" value="stand" class="text-[2vw] px-6 py-3 bg-[#588157] text-white rounded-lg hover:bg-[#3a5a40] transition duration-100">Stand</button>
        </form>
    </div> -->
</body>
</html>